
.ion-icon,
.back-button-icon{
  color: #f4f4f4;
}

.toolbar-background{
  background-color: #222222;
}
.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
  color: #f4f4f4;
}
